/* this file is uncopyrighted */
h1 {
  font-size: 1rem;
}

@font-face {
    font-family: "nyk";
    src: url("nyk.woff2") format("woff2"),
         url("nyk.woff") format("woff");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

.jawa {
    font-family: "nyk", serif;
}